@import './variables';
@import './mixins';

div {
  a {
    text-decoration: none;
    color: $link-color;
  }
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top:15px;
}


